<script>

export default {
  data() {
    return {
      cyear: new Date().getFullYear(),
    };
  }
};
</script>

<template>
        <footer class="text-center italic bg-darkened">
           © Oscar Coghlan {{cyear}}
        </footer>
</template>