

:root {
	--offwhite-color: #f1f5fc;
}

html {
    scroll-behavior:smooth
}

.bg-c-offwhite {
    background-color: #f3f1ec;
}

.font-archivo {
    font-family: 'Archivo', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

.bg-c-offblack {
	background: rgb(9,23,20);
background: linear-gradient(50deg, #034a2f 0%, #04112a 100%);
/*background-image: url(/assets/img/bgdither.png);
background-size: cover;
image-rendering: crisp-edges;
*/
background-attachment: fixed;
}

.fg-c-offwhite {
    color: var(--offwhite-color);
}

.fg-c-grey {
    color: #cacaca;
}

.border-c-offwhite {
    border-color: var(--offwhite-color);
}

.border-c-1 {
    border-width: 1px;
}

a:hover {
    color: #cacaca !important;
}

.custom-bottom-margin {
    margin-bottom: calc(100vh * 0.1);
}

	a {
		color: var(--offwhite-color) !important;
	}

#aboutcontent {
	border: 0px solid var(--offwhite-color); 
	box-shadow: 5px 5px 5px /*#00ffff16*/ #000000ee;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.25);

}

.customhr {
    border: 1px solid white;
    border-radius: 7px 7px 7px 7px;
}

.bg-darkened {
    background: #00000026;
}

.bg-semidarkened {
    background: #0000000f;
}

/* comfortaa-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/comfortaa-v45-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* comfortaa-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/comfortaa-v45-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* comfortaa-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/comfortaa-v45-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* comfortaa-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/comfortaa-v45-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  
.gradientleft {
      /*mask-image: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0.5) 100%);*/
}

.gradientright {
      /*mask-image: linear-gradient(to left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 65%, rgba(0,0,0,0.5) 100%);*/
}