
<template>
    <div class="w-11/12 xl:w-7/12 lg:w-9/12 mx-auto">
        <div class= " min-h-[10vh] pt-[40vh] pb-[30vh] flex justify-center">
            <div>
            <h1 class="font-comfortaa text-6xl mb-4 text-center">Oscar Coghlan</h1>
            <p class="font-comfortaa text-2xl text-center">Aspiring Software Engineer</p>
            <p class="font-comfortaa text-lg underline text-center"><a href="#about">Learn more</a></p>
            </div><br>
        </div>
        <div id="about"></div>
        <div class="w-full mb-8 table-cell align-middle h-[100vh]">

            <div class="bg-semidarkened p-6 rounded">
                <h1 class="text-3xl font-comfortaa mb-6 text-center">About me</h1>
                <p class="text-lg text-justify">
                    I'm Oscar, a dedicated software engineering student focused on delivering innovative solutions. On this portfolio website, I share my skills, projects, and experiences.
                    <br>
                    <br>
                    From an early age, I've been intrigued by the possibilities of software engineering. I find fulfillment in creating elegant and efficient solutions to complex challenges, combining creativity and problem-solving. As a student, I actively pursue opportunities for growth and contribution in this ever-evolving field.
                    <br>
                    <br>
                    I am currently completing a degree in software engineering, and have developed a strong foundation in programming languages, data structures, algorithms, and software design principles. I have extended many classes with Java, wrestled with the c++ standard library, and returned back to the basics with c. I've dipped my toes into .NET, and I've learnt how to express myself on the internet with PHP. I'm consistently curious about exploring new and old technologies.
                    <br>
                    <br>
                    Beyond academia, I thrive in collaborative environments, valuing effective communication and a positive impact. Approachable and enthusiastic, I appreciate diverse perspectives and eagerly contribute my own ideas. I am actively seeking meaningful opportunities to apply my skills and to expand my expertise as a software engineer. 
                </p>
                
                <p class="text-center text-lg mt-4 w-full"><a href="#projects">Check out my projects :)<br>v</a></p>
            </div>
        </div>
        
        <h1 class="text-3xl text-center font-comfortaa">Projects</h1>
        <CarouselContainer/>
        <!--<div id="projects" class="grid grid-cols-4 w-[400%]"> 
            <ProjectPreview title="Rusnake" content="Ok but what if i dont like rust? whhat if i dont like the syntax? I think that you are simply deranged" image="snakesquare.png" />
            <ProjectPreview title="Rusnake" content="Rust i love rust rust rust rust imagine having memory access fault hahahahaha lmao haha." image="snakesquare.png" />
        </div>-->

        <div id="about2" class="w-full mb-8 mt-[25vh] ">

            <h1 class="text-3xl font-comfortaa mb-2">About me</h1>
            <hr class="mb-1">
            <hr class="mb-4">
            <p class="text-lg">
                I'm Oscar, a dedicated software engineering student focused on delivering innovative solutions. On this portfolio website, I share my skills, projects, and experiences.
                <br>
                <br>
                From an early age, I've been intrigued by the possibilities of software engineering. I find fulfillment in creating elegant and efficient solutions to complex challenges, combining creativity and problem-solving. As a student, I actively pursue opportunities for growth and contribution in this ever-evolving field.
                <br>
                <br>
                I am currently completing a degree in software engineering, and have developed a strong foundation in programming languages, data structures, algorithms, and software design principles. I have extended many classes with Java, wrestled with the c++ standard library, and returned back to the basics with c. I've dipped my toes into .NET, and I've learnt how to express myself on the internet with PHP. I'm consistently curious about exploring new and old technologies.
                <br>
                <br>
                Beyond academia, I thrive in collaborative environments, valuing effective communication and a positive impact. Approachable and enthusiastic, I appreciate diverse perspectives and eagerly contribute my own ideas. I am actively seeking meaningful opportunities to apply my skills and to expand my expertise as a software engineer. 
            </p>
        </div>
    </div>
</template>

<script>
import CarouselContainer from '~/components/CarouselContainer.vue';

</script>
